<div ng-include="'../includes/navbar.htm'"></div>

<div id="content">
<!-- {{all[0]}} -->
<div class="sidebar">
	<h4>Shop by aisle</h4>
	<ul>
		<li ng-click="reset()">All</li>
		<li ng-repeat="c in categories" ng-click="show(c._id)">
		{{c.name}}</li>
	</ul>
</div>

<div class="main">
<input type="text" class="form-control" placeholder="Search..." ng-model="prod_search" id="mainSearch">
<!-- <div ng-repeat="a in all"> -->

	<div ng-repeat="i in all | filter : prod_name | filter : prod_search" class="product" data-toggle="modal" data-target="#product-detail" ng-click="productDetail(i._id, i.img, i.name, i.price, i.unit)">
	<img ng-if="i.img" src="../img/{{i.img}}" class="img-rounded product-img">
		<p class="product-name">{{i.name}}</p>
		<p class="product-price">${{i.price}} /{{i.unit}}</p>
	</div>
<!-- </div> -->

</div>
</div>



<!-- Product Detail -->
<div id="product-detail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{product_detail_name}}</h4>
      </div>
      <div class="modal-body">
      	<img src="../img/{{product_detail_img}}" class="img-rounded" id="product-img-modal">
      	<p class="product-price">{{product_detail_price}} /{{product_detail_unit}}</p>
        <form id="modal-form">
        <div class="qty">
          Quantity: <input type="number" ng-model="order.amount" min="0">
          </div>
          <input type="submit" data-dismiss="modal" value="Add To Cart" class="form-control btn-info" ng-click="addToCart(product_detail_id)">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>