<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/" style="font-family: 'Fugaz One', cursive; color: white; font-size: 50px; margin-top: 30px; fo">BIG AL'S FOOD BARN</a>
    </div>
    <!-- <input type="text" class="form-control" placeholder="Search..." ng-model="prod_name"> -->
     <!-- <form class="navbar-form navbar-left" id="mainSearch">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search..." ng-model="prod_name">
          <!-- <button ng-click="">test</button> -->
        <!-- </div>
      </form> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
       <ul class="nav navbar-nav navbar-right">
        <li style="font-family: 'Fugaz One', cursive; color: white; font-size: 20px;"><a href="#/" style="color: white; margin-top: 35px;">
        Home <span class="glyphicon glyphicon-home"></span></a></li>
        <li style="font-family: 'Fugaz One', cursive; color: white; font-size: 20px;">
          <a href="" style="color: white; margin-top: 40px; margin-right: 20px;">Logout</span></a>
          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>